@import "_var.scss";

#wake {
  background-color: $dark;
  padding: 5vh 0 5vh 0;

  header {
    display: flex;
    justify-content: space-between;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 30%;
      #menu {
        background-color: $yellow;
        width: 4vh;
        height: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: white;
        &:hover {
          background: rgb(201, 201, 201);
          color: black;
        }
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 25vh;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .wake-left {
    width: 60%;
    h2 {
      color: $yellow;
      text-transform: uppercase;
      font-size: 95px;
    }
    p {
      color: white;
      font-size: 11px;
      width: 80%;
    }
    button {
      border: 2px solid $yellow;
      border-radius: 50px;
      color: white;
      background: transparent;
      text-transform: uppercase;
      padding: 10px;
    }
  }
}
