@import "./var.scss";

.topFooter {
  background-color: $yellow;
  padding: 10vh 0 10vh 0;
  .container {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {  
  .topFooter {
    .container {
      align-items: center;
      flex-direction: column;
      gap: 50px;
      div {
        width: 50%;
      }
    }
  }
}
