@import "./var.scss";

.trois {
  padding-top: 10vh;
  .container {
    article {
      h3 {
        color: $yellow;
        text-transform: uppercase;
        font-size: 30px;
      }
      p {
        font-size: 13px;
        width: 90%;
      }
    }
  }
}
.container-button {
  padding: 10vh 0 10vh 0;
  button {
    color: black;
    display: flex;
    margin: auto;
  }
}
