@import "_var.scss";

.works {
  .container {
    h2 {
      color: $yellow;
      text-transform: uppercase;
    }
    p {
      color: black;
      text-transform: uppercase;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .one {
      grid-area: 1 / 1 / 3 / 2;
    }
    .two {
      grid-area: 1 / 2 / 2 / 3;
    }
    .three {
      grid-area: 1 / 3 / 2 / 4;
    }
    .four {
      grid-area: 2 / 3 / 3 / 4;
    }
    .five {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}
