@import "./scss/_header.scss";
@import "./scss/_var.scss";
@import "./scss/texte.scss";
@import "./scss/trois.scss";
@import "./scss/compteur";
@import "./scss/works.scss";
@import "./scss/ourclients.scss";
@import "./scss/form.scss";
@import "./scss/topfooter.scss";
@import "./scss/footer.scss";
@import "./scss/scrolltop.scss";

body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Abel";
  src: url("./font/Abel-Regular.ttf") format(‘ttf’);
}

* {
  font-family: "Abel", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin: auto;
}

.button {
  border: 2px solid $yellow;
  border-radius: 50px;
  color: white;
  background: transparent;
  text-transform: uppercase;
  padding: 10px;
}

.column {
  display: flex;
}

.max {
  width: 100%;
}

.none {
  display: none;
  transition: 0.7s;
}

.visible {
  display: block;
  transition: 0.7s;
}
