@charset "UTF-8";
.wake {
  background-color: rgb(23, 25, 30);
  padding: 5vh 0 5vh 0;
}
.wake header {
  display: flex;
  justify-content: space-between;
}
.wake header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 20vh;
}
.wake header ul a {
  color: white;
  text-decoration: none;
}
.wake .wake-left {
  width: 60%;
}
.wake .wake-left h2 {
  color: rgb(255, 218, 0);
  text-transform: uppercase;
  font-size: 95px;
}
.wake .wake-left p {
  color: white;
  font-size: 11px;
  width: 80%;
}
.wake .wake-left button {
  border: 2px solid rgb(255, 218, 0);
  border-radius: 50px;
  color: white;
  background: transparent;
  text-transform: uppercase;
  padding: 10px;
}

.texte {
  background: rgb(255, 218, 0);
  padding: 2vh 0 2vh 0;
}

.trois {
  padding-top: 10vh;
}
.trois .container article h3 {
  color: rgb(255, 218, 0);
  text-transform: uppercase;
  font-size: 30px;
}
.trois .container article p {
  font-size: 11px;
  width: 90%;
}

.container-button {
  padding: 10vh 0 10vh 0;
}
.container-button button {
  color: black;
  display: flex;
  margin: auto;
}

.compteur {
  background-color: rgb(23, 25, 30);
  padding: 8vh 0 8vh 0;
}
.compteur .container .column {
  justify-content: space-around;
}
.compteur .container .column article {
  text-align: center;
}
.compteur .container .column article h3 {
  color: white;
  font-size: 40px;
}
.compteur .container .column article p {
  color: rgb(255, 218, 0);
  text-transform: uppercase;
}

.works .container h2 {
  color: rgb(255, 218, 0);
  text-transform: uppercase;
}
.works .container p {
  color: black;
  text-transform: uppercase;
}
.works .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.works .grid .one {
  grid-area: 1/1/3/2;
}
.works .grid .two {
  grid-area: 1/2/2/3;
}
.works .grid .three {
  grid-area: 1/3/2/4;
}
.works .grid .four {
  grid-area: 2/3/3/4;
}
.works .grid .five {
  grid-area: 2/2/3/3;
}

.clients {
  background-color: rgb(23, 25, 30);
  padding: 10vh 0 10vh 0;
}
.clients .container h2 {
  text-transform: uppercase;
  color: rgb(255, 218, 0);
}
.clients .container p {
  text-transform: uppercase;
  color: white;
}
.clients .container .imgClients {
  display: flex;
  justify-content: space-between;
}

.formulaire {
  padding: 5vh 0 5vh 0;
}
.formulaire .container h2 {
  color: rgb(255, 218, 0);
  text-transform: uppercase;
}
.formulaire .container p {
  text-transform: uppercase;
}
.formulaire .container form {
  background-color: #F2F2F2;
  padding: 5vh;
}
.formulaire .container form .name {
  display: flex;
  flex-direction: column;
}
.formulaire .container form .name input {
  margin: 1% 0 1% 0;
  padding: 1%;
  background-color: white;
  border: 2px solid rgb(255, 218, 0);
}
.formulaire .container form .secondName {
  display: flex;
  flex-direction: column;
}
.formulaire .container form .secondName input {
  margin: 1% 0 1% 0;
  padding: 1%;
  background-color: white;
  border: 2px solid rgb(255, 218, 0);
}
.formulaire .container form .objet {
  display: flex;
  flex-direction: column;
}
.formulaire .container form .objet select {
  margin: 1% 0 1% 0;
  padding: 1%;
  background-color: #EFEFEF;
  border: 2px solid rgb(255, 218, 0);
}
.formulaire .container form .message {
  display: flex;
  flex-direction: column;
}
.formulaire .container form .message #msg {
  margin: 1% 0 1% 0;
  padding: 1%;
  background-color: #EFEFEF;
  border: 2px solid rgb(255, 218, 0);
}
.formulaire .container form #send {
  background-color: rgb(255, 218, 0);
  border: none;
  padding: 2%;
  color: white;
}

.topFooter {
  background-color: rgb(255, 218, 0);
  padding: 10vh 0 10vh 0;
}
.topFooter .container {
  display: flex;
  justify-content: space-between;
}
.topFooter .container div {
  display: flex;
}

footer {
  background-color: rgb(23, 25, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0 10vh;
}
footer p {
  color: white;
  margin: 0;
}
footer p span {
  color: rgb(255, 218, 0);
}
footer .icons {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Abel";
  src: url("./font/Abel-Regular.ttf") format(‘ttf’);
}
* {
  font-family: "Abel", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.button {
  border: 2px solid rgb(255, 218, 0);
  border-radius: 50px;
  color: white;
  background: transparent;
  text-transform: uppercase;
  padding: 10px;
}

.column {
  display: flex;
}

.max {
  width: 100%;
}/*# sourceMappingURL=style.css.map */